@use './variables.scss' as v;

.about {
    .introcontainer {
        display: flex;
        flex-direction: column;
        gap: v.$unit-mobile;
        padding: calc(v.$unit-mobile/2) v.$unit-mobile 4rem;

        @media only screen and (min-width:v.$md){
            padding: calc(v.$unit-mobile/2) v.$unit-mobile 6rem;
        }

        @media only screen and (min-width:v.$lg){
            display: grid;
            grid-template-columns: 2fr 18fr 14fr;
            gap: v.$unit-desktop;
            padding: calc(v.$unit-desktop/2) v.$unit-desktop 8rem; // 128px bottom
        }

        &__divwrapper {
            display: contents;

            @media only screen and (min-width:v.$md){
                display: flex;
                flex-direction: row-reverse;
                gap: calc(v.$unit-mobile * 2);
            }

            @media only screen and (min-width:v.$lg){
                display: contents;
            }
        }

        &__divone {
            display: flex;
            flex-direction: column;
            gap: v.$unit-mobile;
            margin-top: -1.56rem;
            margin-bottom: 1.56rem;

            @media only screen and (min-width:v.$lg){
                display: contents;
            }
        }

        &__divtwo {
            display: flex;
            flex-direction: column;
            gap: v.$unit-mobile;

            @media only screen and (min-width:v.$md){
                flex-direction: row-reverse;
                gap: calc(v.$unit-mobile * 4);
            }

            @media only screen and (min-width:v.$lg){
                display: contents;
            }
        }

        svg {
            width: 1.56rem;
            height: 1.56rem;
            
            @media only screen and (min-width:v.$md){
                margin-top: 0.4rem;
            }

            path {
                stroke: var(--black);
            }
        }

        &__intro {
            @media only screen and (min-width:v.$lg){
                padding-right: calc(v.$unit-desktop * 2);
            }
        }

        &__imagewrapper {
            grid-column: 3;
            grid-row: 1 / 4;
            order: -1;

            @media only screen and (min-width:v.$lg){
                order: 0;
            }
            
            img {
                position: sticky;
                top: calc(((100vh - (((100vw - v.$unit-desktop * 4) / 34) * 14) * 1.3) / 2) + v.$unit-desktop / 2);
                width: 100%;
                aspect-ratio: 16 / 21;

                border-radius: 500px;
                object-fit: cover;
                object-position: center;

                @media only screen and (min-width:v.$md){
                    border-radius: 500px;
                    margin-top: 25px;
                }

                @media only screen and (min-width:v.$lg){
                    margin-top: 0;
                }

                @media only screen and (min-width: 1700px){
                    top: calc(((100vh - (((1700px - v.$unit-desktop * 4) / 34) * 14) * 1.3) / 2) + v.$unit-desktop / 2);
                }
            }
        }

        &__infoblock {
            grid-column: 2;
            display: flex;
            flex-direction: column;
            gap: v.$unit-desktop;
            margin-top: 4rem;

            @media only screen and (min-width:v.$md){
                flex: 1;
            }

            @media only screen and (min-width:v.$lg){
                margin-top: 6.25rem; // 100px
                flex: 0;
            }

            h2 {
                font-size: 3.5rem;

                opacity: 0;
                transform: translateY(50px);
                transition: all 0.6s ease-out;

                @media only screen and (min-width:v.$lg){
                    font-size: 4rem;
                }

                &.loaded {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            &__block {
                opacity: 0;
                transform: translateY(50px);
                transition: all 0.6s ease-out;
                
                @media only screen and (min-width:v.$lg){
                    padding-right: v.$unit-desktop;
                }

                &.loaded {
                    opacity: 1;
                    transform: translateY(0);
                }

                h3 {
                    font-size: 1.75rem;
                    line-height: 130%;
                    text-transform: none;
                    margin: 0.75rem 0 0.25rem;

                    span {
                        font-weight: v.$bold;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    
}