@use './reset.scss';

@use './variables.scss';
@use './base.scss';
@use './navigation.scss';
@use './hero.scss';
@use './about-block.scss';
@use './selectedwork.scss';
@use './services.scss';
@use './techstack-block.scss';
@use './footer.scss';
@use './project.scss';
@use './about.scss';
@use './loader.scss';