@use './variables.scss' as v;

.footer {
    display: flex;
    flex-direction: column;
    gap: v.$unit-mobile;
    width: 100%;
    max-width: 1700px;
    padding: calc(v.$unit-mobile * 2) v.$unit-mobile v.$unit-mobile;

    @media only screen and (min-width:v.$md){
        display: grid;
        grid-template-columns: 11fr 9fr;
    }

    @media only screen and (min-width:v.$lg){
        display: grid;
        grid-template-columns: 2fr 18fr 14fr;
        gap: v.$unit-desktop;
        padding: calc(v.$unit-desktop * 2) v.$unit-desktop v.$unit-desktop;
    }
    
    &__wrapper {
        background-color: v.$red;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 4rem;

        @media only screen and (min-width:v.$md){
            margin-top: 6rem;
        }

        @media only screen and (min-width:v.$lg){
            margin-top: 8rem; // 128px
        }
    }

    h2 {
        color: v.$white;
        font-size: clamp(5.5rem, 17vw, 16rem);
        
        @media only screen and (min-width:v.$md){
            font-size: 6.5rem;
        }
        
        @media only screen and (min-width:v.$lg){
            grid-column: 2;
            font-size: 8rem;
        }

        .textwrapper {
            display: block;
            overflow: hidden;

            span {
                display: block;
                opacity: 0;
                transform: translateY(100%);
            }
        }
    }

    .pillcontainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: v.$unit-mobile;
        order: -1;

        @media only screen and (min-width:v.$md){
            order: 0;
        }
        
        @media only screen and (min-width:v.$lg){
            height: 100%;
            padding-top: 0.75rem;
            gap: 0.375rem;
        }

        svg {
            width: 1.56rem;
            height: 1.56rem;

            path {
                stroke: v.$white;
            }
        }

        div {
            display: flex;
            flex-wrap: wrap;
            gap: 0.375rem; //6px
            row-gap: 0.1875rem;

            div {
                width: 100%;
            }

            a {

                &:hover {
                    background-color: v.$white;
                    color: v.$red;
                    transition: all .2s ease;
                }
            }
        }
    }

    &__buttoncontainer {
        grid-column: 1/4;
        height: 20rem;
        
        @media only screen and (min-width:v.$lg){
            grid-column: 2/4;
        }

        &__button {
            background-color: v.$white;
            display: inline-block;
            padding: 1.5rem 3rem 1.75rem; // 24px 48px 28px
            padding: 1.25rem 2.25rem 1.4rem;
            border: none;
            border-radius: 200px;

            font-weight: v.$medium;
            font-size: 1.75rem;
            text-transform: none;
            color: v.$red;
            cursor: pointer;

            @media only screen and (min-width:v.$md){
                padding: 1.5rem 3rem 1.75rem; // 24px 48px 28px
            }
        }
    }

    &__firstinfo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        row-gap: 0.5rem;
        order: 9;

        @media only screen and (min-width:v.$lg){
            grid-column: 2;
            justify-content: flex-start;
        }

        p {
            font-family: "Satoshi";
            font-weight: v.$medium;
            font-size: clamp(14px, 1.125rem, 100px);
            color: v.$white;
        }
    }

    &__secondinfo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        row-gap: 0.5rem;
        order: 10;
        margin-top: -12px;

        @media only screen and (min-width:v.$md){
            margin-top: 0;
            justify-content: flex-start;
        }

        p {
            font-family: "Satoshi";
            font-weight: v.$medium;
            font-size: clamp(14px, 1.125rem, 100px);
            color: v.$white;
        }
    }
}