@use './variables.scss' as v;

@keyframes caseSlider {
    to {
        transform: translateX(-50%);
    }
}


.hero {
    display: flex;
    flex-direction: column;
    gap: v.$unit-mobile;
    padding: 12rem v.$unit-mobile 4rem;
    width: 100%;
    max-width: 1700px;

    @media only screen and (min-width:v.$md){
        padding: 12.5rem v.$unit-mobile 6rem;
    }

    @media only screen and (min-width:v.$lg){
        display: grid;
        grid-template-columns: 2fr 18fr 14fr;
        gap: v.$unit-desktop;
        padding: 12.5rem v.$unit-desktop 8rem; // bottom 128px
    }
    
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow-x: hidden;
    }

    &__titlecontainer {
        position: relative;

        @media only screen and (min-width:v.$lg){
            grid-column: 2;
        }

        &__title {
            margin-bottom: calc(v.$unit-mobile * 2);
            
            @media only screen and (min-width:v.$lg){
                position: absolute;
                top: 0;
                width: 81.5rem;
                margin-top: 1rem;
                margin-bottom: none;
            }

            &--desktop {
                display: none;
                @media only screen and (min-width:v.$lg){
                    display: block;
                }
            }

            &--mobile {
                display: block;
                @media only screen and (min-width:v.$lg){
                    display: none;
                }
            }

            .textwrapper {
                display: block;
                overflow: hidden;

                span {
                    display: block;
                    font-family: 'Switzer';
                    font-weight: v.$bold;
                    font-size: clamp(5.5rem, 17vw, 16rem);
                    line-height: 80%;
                    text-transform: uppercase;

                    opacity: 0;
                    transform: translateY(100%);
                    animation: textLoad 0.5s ease forwards 4.2s;

                    @media only screen and (min-width:v.$lg){
                        font-size: 12.5rem;
                    }
                }
            }
        }
    }

    .pillcontainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: v.$unit-mobile;
        order: -1;
        
        @media only screen and (min-width:v.$lg) {
            height: 10.45rem;
            margin-bottom: 10.45rem;
            gap: 0.375rem;
            order: 0;
        }

        svg {
            width: 1.56rem;
            height: 1.56rem;

            path {
                stroke: var(--black);
            }
        }

        div {
            display: flex;
            flex-wrap: wrap;
            gap: 0.375rem; //6px
            row-gap: 0.1875rem;

            div {
                width: 100%;
            }
        }
    }

    &__slidercontainer {
        position: relative;
        grid-column: 1/-1;
        height: 115vw;
        max-height: 80vh;

        @media only screen and (min-width:v.$lg){
            height: 40vw;
        }
        
        .sliderwrapper {
            position: absolute;
            top: 0;
            left: - v.$unit-desktop;
            
            .slider {
                height: 115vw;
                max-height: 80vh;
                display: flex;
                gap: 0.75rem;
                animation: caseSlider 16s linear infinite;

                @media only screen and (min-width:v.$lg){
                    height: 40vw;
                }

                .slideritem {
                    position: relative;
                    display: flex;
                    cursor: pointer;

                    &--small {
                        aspect-ratio: 16/23;
                    }
                    
                    &--medium {
                        aspect-ratio: 1;
                    }
                    
                    &--big {
                        aspect-ratio: 30/23;
                    }


                    &:hover {
                        .slideritem__overlay {
                            opacity: 1;
                        }
                    }
            
                    &__img {
                        border-radius: 12px;
                        object-fit: cover;
                        object-position: center;
                    }

                    &__overlay {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;

                        opacity: 0;
                        background-color: rgba($color: #141414, $alpha: 0.6);
                        border-radius: 12px;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all .2s ease-in-out;
                    }
                }
            }
        }
    }
}