@use './variables.scss' as v;

// First loadingscreen
@keyframes textLoad {
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes textLoadInverse {
    to {
        transform: translateY(112%);
    }
}

// Second loadingscreen
@keyframes imgLoad {
    to {
        width: 0%;
    }
}

@keyframes loaderLeave {
    to {
        transform: translateY(-100%);
    }
}

// Small loader
@keyframes smallLoaderLeave {
    to {
        transform: translateX(100%);
    }
}


.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: v.$unit-mobile v.$unit-mobile;
    width: 100%;
    max-width: 1700px;

    @media only screen and (min-width:v.$lg){
        display: grid;
        grid-template-columns: 2fr 18fr 14fr;
        gap: v.$unit-desktop;
        padding: v.$unit-desktop v.$unit-desktop;
    }
    

    &__wrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10000000;

        background-color: v.$red;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__firstcontainer {
        grid-column: 2/4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 60%;

        @media only screen and (min-width:v.$md){
            height: 100%;
        }

        .svgwrapper {
            display: block;
            overflow: hidden;
        }

        svg {
            width: 4rem;
            height: 4rem;

            transform: translateY(-100%);
            animation: 
                textLoad 0.5s ease forwards 0.8s,
                textLoadInverse 0.4s ease-in forwards 1.8s;

            @media only screen and (min-width:v.$md){
                width: 5rem;
                height: 5rem;
            }

            path {
                stroke: v.$white;
            }
        }

        &__text {

            div {
                margin-top: 10px;
            }

            .textwrapper {
                display: block;
                overflow: hidden;

                p {
                    display: block;
                    width: fit-content;

                    transform: translateY(101%);
                    animation: 
                        textLoad 0.5s ease forwards 0.8s,
                        textLoadInverse 0.4s ease-in forwards 1.8s;
                }

                span {
                    display: block;
                    font-family: 'Switzer';
                    font-weight: v.$bold;
                    font-size: clamp(4.5rem, 15vw, 16rem);
                    line-height: 80%;
                    color: v.$white;
                    text-transform: uppercase;
                    margin-left: -0.35rem;

                    transform: translateY(100%);
                    animation: 
                        textLoad 0.5s ease forwards,
                        textLoadInverse 0.4s ease-in forwards 1.8s;

                    @media only screen and (min-width:v.$lg){
                        font-size: 12.5rem;
                    }
                }
            }
        }
    }

    &__secondcontainer {
        grid-column: 2/4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;

        @media only screen and (min-width:v.$lg){
            flex-direction: row;
        }

        &__imagewrapper {
            position: relative;
            width: 90%;
            
            @media only screen and (min-width:v.$lg){
                width: 40%;
            }

            img {
                width: 40rem;
                aspect-ratio: 16/21;
                object-fit: cover;
                object-position: center;
                border-radius: 500px;
            }

            .mask {
                background-color: v.$red;
                position: absolute;
                top: -1%;
                right: -1%;
                width: 102%;
                height: 102%;
                animation: imgLoad 0.35s ease forwards;
            }
        }

        &__textcontainer {
            width: 90%;
            margin-top: -5rem;
            z-index: 10;

            @media only screen and (min-width:v.$sm){
                margin-top: -7rem;
            }
            
            @media only screen and (min-width:v.$lg){
                width: auto;
                margin-top: -12.5rem;
                margin-left: -4rem;
            }

            .textwrapper {
                display: block;
                overflow: hidden;
                
                span {
                    display: block;
                    font-family: 'Switzer';
                    font-weight: v.$bold;
                    font-size: 5rem;
                    line-height: 100%;
                    color: v.$white;
                    
                    transform: translateY(100%);
                    animation: textLoad 0.4s ease forwards 0.35s;

                    @media only screen and (min-width:v.$sm){
                        font-size: 6.5rem;
                    }

                    @media only screen and (min-width:v.$lg){
                        font-size: 8rem;
                    }
                }
            }
        }
    }
}


.small-loader {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000000;
    width: 100%;
    height: 100%;
    
    &__div {
        position: relative;
        width: 100%;
        height: 100%;

        div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background-color: v.$blue;
        }
    }
}