@use './variables.scss' as v;

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1700px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: v.$unit-mobile v.$unit-mobile;
    z-index: 1000000;

    @media only screen and (min-width:v.$lg){
        display: grid;
        grid-template-columns: 2fr 18fr 14fr;
        gap: v.$unit-desktop;
        padding: calc(v.$unit-desktop/2) v.$unit-desktop;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__logo {
        flex: 1;

        &--desktop {
            display: none;
            @media only screen and (min-width:v.$md){
                display: block;
            }
        }

        &--mobile {
            display: block;
            @media only screen and (min-width:v.$md){
                display: none;
            }
        }

        svg {
            display: block;
            max-width: calc(v.$unit-mobile * 2);
            max-height: calc(v.$unit-mobile * 2);

            @media only screen and (min-width:v.$md){
                max-width: calc(v.$unit-mobile * 3);
                max-height: none;
            }

            @media only screen and (min-width:v.$lg){
                max-width: none;
            }

            .logo-text {
                fill: var(--black);
            }

            .logo-swirl {
                fill: v.$yellow;
            }
        }
    }

    &__buttoncontainer {
        grid-column: 3;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.35rem; //6px

        a:first-child {
            display: none;

            @media only screen and (min-width:v.$md){
                display: flex;
            }
        }
    }
}

.darkmode-switch {
    position: fixed;
    bottom: calc(v.$unit-desktop * 1.5);
    left: v.$unit-desktop;
    width: 52px;
    height: 30px;
    padding: 2px;
    z-index: 1000000;

    background-color: transparent;
    border: 2px solid var(--black);
    border-radius: 200px;
    cursor: pointer;
    transition: all .2s ease-in-out;

    @media only screen and (min-width:v.$lg){
        width: 56px;
        height: 33px;
    }

    &.active {
        padding-left: 25px;
    }

    &__switch {
        background-color: var(--black);
        height: 100%;
        aspect-ratio: 1;
        border-radius: 100%;
        border: none;
        transition: all .2s ease-in-out;
    }
}

.centered-button {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
    
    @media only screen and (min-width:v.$md){
        padding-bottom: 6rem;
    }

    @media only screen and (min-width:v.$lg){
        padding-bottom: 8rem; // 128px bottom
    }
}


.button {
    display: inline-block;
    background-color: transparent;
    border: 2px solid v.$white;
    border-radius: 200px;
    
    padding: 0.5rem 1.5rem; // 8px 24px

    font-weight: v.$bold;
    font-size: clamp(14px, 1.25rem, 100px);
    text-transform: uppercase;
    color: v.$white;

    &--big {
        padding: 1.25rem 2.25rem; // 20px 36px
    }
}


.magnetic-button {
	position: relative;
    padding: 0.5rem 1.5rem; // 8px 24px
    margin: 2px; // for outline

    background-color: var(--white);
	border-radius: 200px;
	outline: 2px solid var(--black);

	font-weight: v.$bold;
    font-size: clamp(14px, 1.25rem, 100px);
    text-transform: uppercase;
	cursor: pointer;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: all 0.2s ease;

    &--big {
        padding: 1.25rem 2.25rem; // 20px 36px
    }

	&--filled {
        background-color: var(--black);
        color: var(--white);
    }

    &--footer {
        background-color: v.$red;
        color: v.$white;
        outline: 2px solid v.$white;

        font-family: "Satoshi";
        font-weight: v.$medium;
        font-size: 1.75rem;
        text-transform: none;

        &:hover {
            color: v.$red;
            outline: none;
        }
    }

    svg path {
        stroke: var(--black);
        transition: all 0.2s ease;
    }

    &:hover {
        color: v.$white;
        outline: none;

        .magnetic-filler {
            transform: translateY(0%);
        }

        svg path {
            stroke: v.$white;
        }
    }

	.magnetic-filler {
		position: absolute;
		top: -50%;

		width: 150%;
		height: 200%;
		border-radius: 50%;
        background: v.$red;

		transform: translateY(80%);
		transition: transform 0.4s ease;
		pointer-events: none;

        &--red {
            background: v.$red;
        }

        &--green {
            background: v.$green;
        }

        &--blue {
            background: v.$blue;
        }

        &--white {
            background: v.$white;
        }
	}

	.magnetic-text,
	.magnetic-text-inner {
		position: relative;
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
        gap: 0.25rem;

		pointer-events: none;

        &__small {
            font-size: 1rem;
            line-height: 70%;
        }
	}
}
