@use './variables.scss' as v;

.project {
    .infocontainer {
        display: flex;
        flex-direction: column;
        gap: v.$unit-mobile;
        padding: 0 v.$unit-mobile 4rem;

        @media only screen and (min-width:v.$sm){
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 v.$unit-mobile 6rem;
        }

        @media only screen and (min-width:v.$lg){
            display: grid;
            grid-template-columns: 2fr 18fr 14fr;
            gap: v.$unit-desktop;
            padding: 0 v.$unit-desktop 8rem; // 128px bottom
            margin-top: -2.5rem;
        }

        &__div {
            &:nth-child(2) {
                order: 1;
                margin-top: v.$unit-mobile;
                max-width: 450px;
            }

            &:nth-child(3) {
                max-width: 450px;
            }

            @media only screen and (min-width:v.$md){
                flex: 1;

                &:nth-child(2) {
                    max-width: none;
                    padding-right: 30%;
                    order: 1;
                }

                &:nth-child(3) {
                    max-width: none;
                    padding-right: 30%;
                    flex-basis: 90%;
                }
            }

            @media only screen and (min-width:v.$lg){
                &:nth-child(2) {
                    padding-right: 0;
                    order: 0;
                    margin-top: 0;
                }

                &:nth-child(3) {
                    padding-right: 0;
                }
            }
        }
            
        &__subtitle {
            font-family: "Satoshi";
            font-weight: v.$bold;
            font-size: 1.125rem;
            line-height: 100%;
            margin-bottom: 1rem;
            
            @media only screen and (min-width:v.$lg){
                margin-bottom: 1.25rem;
            }
        }

        &__link {
            width: fit-content;
            margin-top: v.$unit-mobile;
            
            @media only screen and (min-width:v.$lg){
                margin-top: v.$unit-desktop;
            }

            &__inner {
                display: flex;
                align-items: center;
                gap: 0.625rem;
                
                font-family: "Satoshi";
                font-weight: v.$medium;
                font-size: 1.5rem;
                text-transform: none;
                
                svg {
                    width: 1rem;
                    height: 1rem;
                    transform: rotate(-90deg);
                    margin: 1px 0 -1px;
                }
            }
        }

        &__year {
            font-weight: 600;
        }

        .pillcontainer {
            display: flex;
            flex-wrap: wrap;
            gap: 0.375rem;
        }
    }


    .content {
        display: flex;
        flex-direction: column;
        gap: v.$unit-mobile;
        padding: 4rem v.$unit-mobile;

        @media only screen and (min-width:v.$md){
            padding: 6rem v.$unit-mobile;
        }
        
        @media only screen and (min-width:v.$lg){
            gap: v.$unit-desktop;
            padding: 0 calc(v.$unit-desktop * 2) 8rem; // 128px bottom
        }

        img {
            border-radius: 12px;
        }

        &__fullimg {
            width: 100%;

            img {
                width: 100%;
                aspect-ratio: 15/8.5;
                object-fit: cover;
                object-position: center;
            }
        }

        &__dualimg {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: v.$unit-mobile;

            @media only screen and (min-width:v.$md){
                display: grid;
                grid-template-columns: 20fr 13fr;
                gap: v.$unit-mobile;
            }

            @media only screen and (min-width:v.$lg){
                gap: v.$unit-desktop;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;

                &:last-child {
                    aspect-ratio: 14/15;
                }
                
                @media only screen and (min-width:v.$md){
                    &:first-child {
                        aspect-ratio: 7/5;
                    }

                    &:last-child {
                        aspect-ratio: 0;
                    }
                }
            }
        }

        &__textblock {
            padding: 7.5rem 0;
            max-width: 500px;

            @media only screen and (min-width:v.$md){
                margin-left: calc(((100vw - v.$unit-desktop * 4) / 34) * 2);
            }
            
            @media only screen and (min-width:v.$lg){
                max-width: 45rem;
            }

            h3 {
                font-size: 2.5rem;
                margin-bottom: 0.75rem;
            }
        }
    }
}