@use './variables.scss' as v;

.selectedwork-block {
    padding: 0 v.$unit-mobile 4rem; // 128px bottom

    @media only screen and (min-width:v.$md){
        padding: 0 v.$unit-mobile 6rem;
    }

    @media only screen and (min-width:v.$lg){
        padding: 0 calc(v.$unit-desktop * 2) 8rem; // 128px bottom
    }

    &__case {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: calc(v.$unit-mobile * 1);
        margin-bottom: 4rem;

        opacity: 0;
        transform: translateY(50px);
        transition: all 0.6s ease-out;

        @media only screen and (min-width:v.$md){
            flex-direction: row;
            margin-bottom: 7rem;
        }

        @media only screen and (min-width:v.$lg){
            flex-direction: row;
            gap: calc(v.$unit-desktop * 2);
            margin-bottom: 10rem;
        }

        &.loaded {
            opacity: 1;
            transform: translateY(0);
        }

        &:nth-child(2n) {
            flex-direction: column;

            @media only screen and (min-width:v.$md){
                flex-direction: row-reverse;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            .image-overlay {
                opacity: 1;
            }
        }

        &__info {
            flex: 13;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            margin-top: v.$unit-desktop;

            h3 {
                font-size: 2.5rem;
            }

            &__text {
                max-width: 400px;

                @media only screen and (min-width:v.$md){
                    max-width: none;
                }
            }

            .pillcontainer {
                display: flex;
                flex-wrap: wrap;
                gap: 0.375rem;
                margin-top: 1.5rem;
            }
        }

        &__imagewrapper {
            position: relative;
            flex: 19;
            cursor: pointer;

            img {
                object-fit: cover;
                object-position: center;
                border-radius: 12px;
                width: 100%;
                aspect-ratio: 19 / 12;
            }

            .image-overlay {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;

                opacity: 0;
                background-color: rgba(20, 20, 20, 0.6);
                border-radius: 12px;

                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .2s ease-in-out;
            }
        }
    }
}