@use './variables.scss' as v;

.services-block {
    padding-bottom: 4rem;

    @media only screen and (min-width:v.$md){
        padding-bottom: 6rem;
    }

    @media only screen and (min-width:v.$lg){
        padding-bottom: 8rem; // 100px bottom
    }
    
    &__block {
        max-width: 1700px;
        display: flex;
        flex-direction: column;
        gap: v.$unit-mobile;
        width: 100%;
        padding: v.$unit-mobile;

        @media only screen and (min-width:v.$md){
            flex-direction: row;
            gap: calc(v.$unit-mobile * 2);
        }

        @media only screen and (min-width:v.$lg){
            display: grid;
            grid-template-columns: 2fr 18fr 14fr;
            gap: v.$unit-desktop;
            padding: v.$unit-desktop;
        }

        &__wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
            border-bottom: 2px solid var(--black);

            &:first-child {
                border-top: 2px solid var(--black);
            }
        }

        &__number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: v.$unit-desktop;
            height: v.$unit-desktop;
            border: 2px solid var(--black);
            border-radius: 100%;
            flex-shrink: 0;
            
            font-family: "Satoshi";
            font-weight: v.$bold;
            font-size: clamp(14px, 1.25rem, 100px);
            line-height: 100%;
            text-align: center;
        }

        h3 {
            font-size: 3.5rem;

            @media only screen and (min-width:v.$md){
                flex: 1;
            }
            
            @media only screen and (min-width:v.$lg){
                font-size: 4rem;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            gap: v.$unit-mobile;
            max-width: 600px;

            @media only screen and (min-width:v.$md){
                flex: 1;
                max-width: none;
                padding-right: v.$unit-mobile;
            }

            @media only screen and (min-width:v.$lg){
                gap: v.$unit-desktop;
                padding-right: 80px;
            }

            .pillcontainer {
                display: flex;
                flex-wrap: wrap;
                gap: 0.375rem;
            }
        }
    }
}