@use './variables.scss' as v;

.techstack-block {
    display: flex;
    flex-wrap: wrap;
    gap: 0.375rem;
    padding: 0 v.$unit-mobile 4rem;

    @media only screen and (min-width:v.$md){
        padding: 0 v.$unit-mobile 6rem;
    }

    @media only screen and (min-width:v.$lg){
        padding: 0 v.$unit-desktop 8rem; // 128px bottom
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;

        flex: 1;
        flex-basis: 45%;
        border: 2px solid var(--black);
        border-radius: 12px;
        height: 12.5rem;

        opacity: 0;
        transform: translateY(50px);
        transition: all 0.3s ease-out, background-color 0.2s ease;

        @media only screen and (min-width:v.$md){
            flex-basis: 19%;
        }

        @media only screen and (min-width:v.$lg){
            flex-basis: 0;
        }

        &:nth-child(-n + 3) {
            @media only screen and (min-width:v.$lg){
                height: 20rem;
                flex-basis: 33%;
                
                svg {
                    width: 100%;
                    height: 100%;
                    max-width: 9rem;
                    max-height: 6rem;
                }
            }
        }

        svg {
            width: 100%;
            height: 100%;
            max-width: 8rem;
            max-height: 4rem;

            path {
                fill: var(--black);
                transition: all 0.2s ease;
            }
        }

        .vercel-icon path {
            fill: none;
            stroke: var(--black);
        }

        &:hover {
            svg path {
                fill: v.$white;
            }

            .vercel-icon path {
                fill: none;
                stroke: v.$white;
            }
        }

        &:nth-child(3n+1) {
            &:hover {
                background-color: v.$blue;
            }
        }

        &:nth-child(3n+2) {
            &:hover {
                background-color: v.$green;
            }
        }

        &:nth-child(3n+3) {
            &:hover {
                background-color: v.$red;
            }
        }
    }
}