---
layout: layouts/base.html
title: Mise Films - Niels Hos

name: Mise Films
year: 2025
featured: true
size: medium

intro_short: >
  Created a brand identity and logo that captures MISE's young, purpose-driven energy.

intro: >
  Designed a brand identity for MISE, a young and creative full-service production company, based in Prague.
  The identity reflects the company's focus on purpose, authenticity, and professional execution.
  The visual system uses colors and elements inspired by filmmaking to give the brand a dynamic and recognizable look.

categories_short:
  - label: Brand identity
    color: red
  - label: Logo design
    color: red
  - label: Visual system
    color: red

categories:
  - label: Creative direction
    color: green
  - label: Brand identity
    color: red
  - label: Visual system
    color: red
  - label: Logo design
    color: red

image: /assets/images/mise_films/misefilms-0.jpg
external_url:
---

<div class="maincontainer project">
	<div class="maintitlecontainer__gridwrapper maintitlecontainer__gridwrapper--page">
		<div class="maintitlecontainer title-load">
			<h2>
				<span class="textwrapper"><span>{{ name }}</span></span>
			</h2>
		</div>
	</div>
	
	
	<div class="infocontainer lazy-load">
		<div>
			<h2 class="infocontainer__subtitle">Year</h2>
			<p class="infocontainer__year">{{ year }}</p>
		</div>
		
		<div>
			<h2 class="infocontainer__subtitle">Summary</h2>
			<p>{{ intro }}</p>
			{% if external_url %}
			<a href="{{ external_url }}" target="_blank" class="magnetic-button infocontainer__link" data-strength="0.25">
				<span class="magnetic-filler magnetic-filler--red"></span>
				<span class="magnetic-text">
					<span class="magnetic-text-inner infocontainer__link__inner">
						<span>Visit site</span>
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
							<path d="M22.5991 6.36868V22.5987M22.5991 22.5987H6.36901M22.5991 22.5987L1.5 1.5" stroke="#141414" stroke-width="3" stroke-linecap="round"/>
						</svg>
					</span>
				</span>
			</a>
			{% endif %}
		</div>
		
		<div>
			<h2 class="infocontainer__subtitle">Services</h2>
			<div class="pillcontainer">
				{% for pill in categories %}
				<p class="pill pill-lazy-load pill--{{ pill.color }}">{{ pill.label }}</p>
				{% endfor %}
			</div>
		</div>
		
	</div>
	
	<div class="content">
		<div class="content__fullimg lazy-load">
			<img data-src="{{ image }}" alt="" class="lazy-load">
		</div>

		<div class="content__fullimg lazy-load">
			<img data-src="/assets/images/mise_films/misefilms-1.jpg" alt="" class="lazy-load">
		</div>

		<div class="content__textblock lazy-load">
			<h3>The logo</h3>
			<p>
				The logomark is inspired by the director's “finger-frame,” capturing the essence of mise-en-scène and filmmaking.
				The central dot represents MISE's mission, emphasizing purpose and precision.
				Bold typography conveys confidence and professionalism, while the rounded corners add a subtle, youthful touch.
			</p>
		</div>

		<div class="content__fullimg lazy-load">
			<img data-src="/assets/images/mise_films/misefilms-4.jpg" alt="" class="lazy-load">
		</div>
		
		<div class="content__dualimg lazy-load">
			<img src="/assets/images/mise_films/misefilms-2.jpg" alt="">
			<img src="/assets/images/mise_films/misefilms-3.jpg" alt="">
		</div>
	</div>
</div>
