@font-face {
  font-family: "Switzer";
  src: url(../assets/fonts/Switzer-Variable.ttf) format("truetype");
}
@font-face {
  font-family: "Satoshi";
  src: url(../assets/fonts/Satoshi-Variable.ttf) format("truetype");
}
:root {
  --black: #000000;
  --white: #FFFFFF;
}

body.darkmode {
  --black: #FFFFFF;
  --white: #141414;
}

.noscroll {
  overflow: hidden;
  height: 100vh;
}

.lazy-load {
  opacity: 0;
  transform: translateY(5%);
  transition: all 0.6s ease;
}

.loaded {
  opacity: 1;
  transform: translateY(0);
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(/assets/noise2.gif);
  opacity: 0.015;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  pointer-events: none;
}

.maincontainer {
  max-width: 1700px;
  margin: 0 auto;
}

html, body {
  background-color: var(--white);
  font-size: 11.2px;
}
@media only screen and (min-width: 992px) {
  html, body {
    font-size: 0.94vw;
  }
}
@media only screen and (min-width: 1700px) {
  html, body {
    font-size: 1rem;
  }
}

*::selection {
  color: var(--white);
  background-color: #FFD12D;
}

ul, li, a, p {
  font-weight: 400;
  line-height: 130%;
}

ul, li, a, h1, h2, h3, h4, p {
  font-family: "Switzer";
  color: var(--black);
  text-decoration: none;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  line-height: 80%;
}

h3 {
  font-size: 1.75rem;
}

h2 {
  font-size: 2.5rem;
}

h1 {
  font-size: 3rem;
}

ul, li, p {
  font-size: clamp(16px, 1.5rem, 500px);
  line-height: 130%;
}
ul strong, li strong, p strong {
  font-weight: 700;
}

button {
  font-family: "Satoshi";
}

.maintitlecontainer {
  grid-column: 2/4;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  column-gap: 10px;
}
@media only screen and (min-width: 992px) {
  .maintitlecontainer {
    column-gap: 1.25rem;
  }
}
.maintitlecontainer__gridwrapper {
  padding: 4rem 20px 3rem;
}
@media only screen and (min-width: 768px) {
  .maintitlecontainer__gridwrapper {
    padding: 6rem 20px 4rem;
  }
}
@media only screen and (min-width: 992px) {
  .maintitlecontainer__gridwrapper {
    display: grid;
    grid-template-columns: 2fr 18fr 14fr;
    gap: 2.5rem;
    padding: 8rem 2.5rem 6.25rem;
  }
}
.maintitlecontainer__gridwrapper--page {
  padding: 12rem 20px 3rem;
}
@media only screen and (min-width: 992px) {
  .maintitlecontainer__gridwrapper--page {
    padding: 12.5rem 2.5rem 6.25rem;
  }
}
.maintitlecontainer h2 {
  display: contents;
}
.maintitlecontainer h2 .textwrapper {
  display: block;
  overflow: hidden;
}
.maintitlecontainer h2 .textwrapper span {
  display: block;
  font-family: "Switzer";
  font-weight: 700;
  font-size: 5rem;
  line-height: 80%;
  text-transform: uppercase;
  margin: 0;
  word-wrap: break-word;
  opacity: 0;
  transform: translateY(100%);
}
@media only screen and (min-width: 768px) {
  .maintitlecontainer h2 .textwrapper span {
    font-size: 6.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .maintitlecontainer h2 .textwrapper span {
    font-size: 8rem;
  }
}
.maintitlecontainer h2 .textwrapper:first-child {
  width: 100%;
}
.maintitlecontainer .textwrapper {
  display: block;
  overflow: hidden;
}
.maintitlecontainer .textwrapper span {
  display: block;
  font-size: 1.125rem;
  font-family: "Satoshi";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100%;
  margin: 10px 0 3px;
  opacity: 0;
  transform: translateY(100%);
}
@media only screen and (min-width: 768px) {
  .maintitlecontainer .textwrapper span {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 992px) {
  .maintitlecontainer .textwrapper span {
    font-size: clamp(14px, 1.125rem, 100px);
  }
}
.maintitlecontainer .textwrapper:first-child {
  width: 100%;
}

.pill {
  display: inline-block;
  border-radius: 200px;
  padding: 0.375rem 1.5rem 0.5rem;
  font-family: "Satoshi";
  font-weight: 500;
  font-size: clamp(14px, 1.375rem, 100px);
  color: #FFFFFF;
}
.pill-lazy-load {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-out;
}
.pill--big {
  padding: 0.5rem 1.5rem 0.75rem;
  font-size: 1.75rem;
}
.pill--green {
  background-color: #00BF72;
}
.pill--red {
  background-color: #F54C52;
}
.pill--blue {
  background-color: #0C83E0;
}
.pill--outline--white {
  background-color: transparent;
  border: 2px solid #FFFFFF;
}
.pill--outline--black {
  background-color: transparent;
  border: 2px solid #141414;
}