@font-face {
  font-family: "Switzer";
  src: url(../assets/fonts/Switzer-Variable.ttf) format("truetype");
}
@font-face {
  font-family: "Satoshi";
  src: url(../assets/fonts/Satoshi-Variable.ttf) format("truetype");
}
:root {
  --black: #000000;
  --white: #FFFFFF;
}

body.darkmode {
  --black: #FFFFFF;
  --white: #141414;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1700px;
  padding: 40px 20px 20px;
}
@media only screen and (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 11fr 9fr;
  }
}
@media only screen and (min-width: 992px) {
  .footer {
    display: grid;
    grid-template-columns: 2fr 18fr 14fr;
    gap: 2.5rem;
    padding: 5rem 2.5rem 2.5rem;
  }
}
.footer__wrapper {
  background-color: #F54C52;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
}
@media only screen and (min-width: 768px) {
  .footer__wrapper {
    margin-top: 6rem;
  }
}
@media only screen and (min-width: 992px) {
  .footer__wrapper {
    margin-top: 8rem;
  }
}
.footer h2 {
  color: #FFFFFF;
  font-size: clamp(5.5rem, 17vw, 16rem);
}
@media only screen and (min-width: 768px) {
  .footer h2 {
    font-size: 6.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .footer h2 {
    grid-column: 2;
    font-size: 8rem;
  }
}
.footer h2 .textwrapper {
  display: block;
  overflow: hidden;
}
.footer h2 .textwrapper span {
  display: block;
  opacity: 0;
  transform: translateY(100%);
}
.footer .pillcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  order: -1;
}
@media only screen and (min-width: 768px) {
  .footer .pillcontainer {
    order: 0;
  }
}
@media only screen and (min-width: 992px) {
  .footer .pillcontainer {
    height: 100%;
    padding-top: 0.75rem;
    gap: 0.375rem;
  }
}
.footer .pillcontainer svg {
  width: 1.56rem;
  height: 1.56rem;
}
.footer .pillcontainer svg path {
  stroke: #FFFFFF;
}
.footer .pillcontainer div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  row-gap: 0.1875rem;
}
.footer .pillcontainer div div {
  width: 100%;
}
.footer .pillcontainer div a:hover {
  background-color: #FFFFFF;
  color: #F54C52;
  transition: all 0.2s ease;
}
.footer__buttoncontainer {
  grid-column: 1/4;
  height: 20rem;
}
@media only screen and (min-width: 992px) {
  .footer__buttoncontainer {
    grid-column: 2/4;
  }
}
.footer__buttoncontainer__button {
  background-color: #FFFFFF;
  display: inline-block;
  padding: 1.5rem 3rem 1.75rem;
  padding: 1.25rem 2.25rem 1.4rem;
  border: none;
  border-radius: 200px;
  font-weight: 500;
  font-size: 1.75rem;
  text-transform: none;
  color: #F54C52;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .footer__buttoncontainer__button {
    padding: 1.5rem 3rem 1.75rem;
  }
}
.footer__firstinfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  row-gap: 0.5rem;
  order: 9;
}
@media only screen and (min-width: 992px) {
  .footer__firstinfo {
    grid-column: 2;
    justify-content: flex-start;
  }
}
.footer__firstinfo p {
  font-family: "Satoshi";
  font-weight: 500;
  font-size: clamp(14px, 1.125rem, 100px);
  color: #FFFFFF;
}
.footer__secondinfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  row-gap: 0.5rem;
  order: 10;
  margin-top: -12px;
}
@media only screen and (min-width: 768px) {
  .footer__secondinfo {
    margin-top: 0;
    justify-content: flex-start;
  }
}
.footer__secondinfo p {
  font-family: "Satoshi";
  font-weight: 500;
  font-size: clamp(14px, 1.125rem, 100px);
  color: #FFFFFF;
}