@font-face {
  font-family: "Switzer";
  src: url(../assets/fonts/Switzer-Variable.ttf) format("truetype");
}
@font-face {
  font-family: "Satoshi";
  src: url(../assets/fonts/Satoshi-Variable.ttf) format("truetype");
}
:root {
  --black: #000000;
  --white: #FFFFFF;
}

body.darkmode {
  --black: #FFFFFF;
  --white: #141414;
}

@keyframes caseSlider {
  to {
    transform: translateX(-50%);
  }
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12rem 20px 4rem;
  width: 100%;
  max-width: 1700px;
}
@media only screen and (min-width: 768px) {
  .hero {
    padding: 12.5rem 20px 6rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero {
    display: grid;
    grid-template-columns: 2fr 18fr 14fr;
    gap: 2.5rem;
    padding: 12.5rem 2.5rem 8rem;
  }
}
.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}
.hero__titlecontainer {
  position: relative;
}
@media only screen and (min-width: 992px) {
  .hero__titlecontainer {
    grid-column: 2;
  }
}
.hero__titlecontainer__title {
  margin-bottom: 40px;
}
@media only screen and (min-width: 992px) {
  .hero__titlecontainer__title {
    position: absolute;
    top: 0;
    width: 81.5rem;
    margin-top: 1rem;
    margin-bottom: none;
  }
}
.hero__titlecontainer__title--desktop {
  display: none;
}
@media only screen and (min-width: 992px) {
  .hero__titlecontainer__title--desktop {
    display: block;
  }
}
.hero__titlecontainer__title--mobile {
  display: block;
}
@media only screen and (min-width: 992px) {
  .hero__titlecontainer__title--mobile {
    display: none;
  }
}
.hero__titlecontainer__title .textwrapper {
  display: block;
  overflow: hidden;
}
.hero__titlecontainer__title .textwrapper span {
  display: block;
  font-family: "Switzer";
  font-weight: 700;
  font-size: clamp(5.5rem, 17vw, 16rem);
  line-height: 80%;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(100%);
  animation: textLoad 0.5s ease forwards 4.2s;
}
@media only screen and (min-width: 992px) {
  .hero__titlecontainer__title .textwrapper span {
    font-size: 12.5rem;
  }
}
.hero .pillcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  order: -1;
}
@media only screen and (min-width: 992px) {
  .hero .pillcontainer {
    height: 10.45rem;
    margin-bottom: 10.45rem;
    gap: 0.375rem;
    order: 0;
  }
}
.hero .pillcontainer svg {
  width: 1.56rem;
  height: 1.56rem;
}
.hero .pillcontainer svg path {
  stroke: var(--black);
}
.hero .pillcontainer div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  row-gap: 0.1875rem;
}
.hero .pillcontainer div div {
  width: 100%;
}
.hero__slidercontainer {
  position: relative;
  grid-column: 1/-1;
  height: 115vw;
  max-height: 80vh;
}
@media only screen and (min-width: 992px) {
  .hero__slidercontainer {
    height: 40vw;
  }
}
.hero__slidercontainer .sliderwrapper {
  position: absolute;
  top: 0;
  left: -2.5rem;
}
.hero__slidercontainer .sliderwrapper .slider {
  height: 115vw;
  max-height: 80vh;
  display: flex;
  gap: 0.75rem;
  animation: caseSlider 10s linear infinite;
}
@media only screen and (min-width: 992px) {
  .hero__slidercontainer .sliderwrapper .slider {
    height: 40vw;
  }
}
.hero__slidercontainer .sliderwrapper .slider .slideritem {
  position: relative;
  display: flex;
  cursor: pointer;
}
.hero__slidercontainer .sliderwrapper .slider .slideritem--small {
  aspect-ratio: 16/23;
}
.hero__slidercontainer .sliderwrapper .slider .slideritem--medium {
  aspect-ratio: 1;
}
.hero__slidercontainer .sliderwrapper .slider .slideritem--big {
  aspect-ratio: 30/23;
}
.hero__slidercontainer .sliderwrapper .slider .slideritem:hover .slideritem__overlay {
  opacity: 1;
}
.hero__slidercontainer .sliderwrapper .slider .slideritem__img {
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}
.hero__slidercontainer .sliderwrapper .slider .slideritem__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(20, 20, 20, 0.6);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}