@font-face {
  font-family: "Switzer";
  src: url(../assets/fonts/Switzer-Variable.ttf) format("truetype");
}
@font-face {
  font-family: "Satoshi";
  src: url(../assets/fonts/Satoshi-Variable.ttf) format("truetype");
}
:root {
  --black: #000000;
  --white: #FFFFFF;
}

body.darkmode {
  --black: #FFFFFF;
  --white: #141414;
}

.techstack-block {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  padding: 0 20px 4rem;
}
@media only screen and (min-width: 768px) {
  .techstack-block {
    padding: 0 20px 6rem;
  }
}
@media only screen and (min-width: 992px) {
  .techstack-block {
    padding: 0 2.5rem 8rem;
  }
}
.techstack-block a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 45%;
  border: 2px solid var(--black);
  border-radius: 12px;
  height: 12.5rem;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.3s ease-out, background-color 0.2s ease;
}
@media only screen and (min-width: 768px) {
  .techstack-block a {
    flex-basis: 19%;
  }
}
@media only screen and (min-width: 992px) {
  .techstack-block a {
    flex-basis: 0;
  }
}
@media only screen and (min-width: 992px) {
  .techstack-block a:nth-child(-n+3) {
    height: 20rem;
    flex-basis: 33%;
  }
  .techstack-block a:nth-child(-n+3) svg {
    width: 100%;
    height: 100%;
    max-width: 9rem;
    max-height: 6rem;
  }
}
.techstack-block a svg {
  width: 100%;
  height: 100%;
  max-width: 8rem;
  max-height: 4rem;
}
.techstack-block a svg path {
  fill: var(--black);
  transition: all 0.2s ease;
}
.techstack-block a .vercel-icon path {
  fill: none;
  stroke: var(--black);
}
.techstack-block a:hover svg path {
  fill: #FFFFFF;
}
.techstack-block a:hover .vercel-icon path {
  fill: none;
  stroke: #FFFFFF;
}
.techstack-block a:nth-child(3n+1):hover {
  background-color: #0C83E0;
}
.techstack-block a:nth-child(3n+2):hover {
  background-color: #00BF72;
}
.techstack-block a:nth-child(3n+3):hover {
  background-color: #F54C52;
}